In [1]:
from Bio import SeqIO
import pandas as pd

In [2]:
def read_fasta(file_path):
    sequences = {}
    with open(file_path, "r") as file:
        for record in SeqIO.parse(file, "fasta"):
            sequences[record.id] = str(record.seq)
    return sequences

In [3]:
# Paths to the FASTA files
train_fasta_path = 'train/train_sequences.fasta'
test_fasta_path = 'test/testsuperset.fasta'

In [4]:
# Extract sequences
train_sequences = read_fasta(train_fasta_path)
test_sequences = read_fasta(test_fasta_path)

In [5]:
def read_annotations(file_path):
    annotations = pd.read_csv(file_path, sep='\t', header=None)
    
    # Check the number of columns and adjust accordingly
    num_cols = len(annotations.columns)
    if num_cols == 2:
        annotations.columns = ['Protein_ID', 'Annotation']
    elif num_cols == 3:
        annotations.columns = ['Protein_ID', 'Annotation', 'Additional_Info']
    else:
        raise ValueError(f"Unexpected number of columns ({num_cols}) in annotations file.")

    return annotations

In [7]:
annotations_path = 'train/train_terms.tsv'
annotations = read_annotations(annotations_path)

In [8]:
# Define the path to the file
test_taxonomy_path = 'test/testsuperset-taxon-list.tsv'

# Define a function to read the file
def read_test_taxonomy(file_path):
    try:
        # Attempt to read the file with the specified encoding
        taxonomy = pd.read_csv(file_path, sep='\t', header=None, encoding='ISO-8859-1')
        taxonomy.columns = ['Protein_ID', 'Taxonomy']
        print("File read successfully with 'ISO-8859-1' encoding.")
        return taxonomy.head()  # Return the first few rows for inspection
    except Exception as e:
        print(f"Error occurred: {e}")

# Run the function and print the output
read_test_taxonomy(test_taxonomy_path)

File read successfully with 'ISO-8859-1' encoding.

  Protein_ID                         Taxonomy
0         ID                          Species
1       9606          homo sapiens[All Names]
2      10090          mus musculus[All Names]
3      10116                Rattus norvegicus
4       3702  Arabidopsis thaliana[All Names]

In [9]:
def read_taxonomy(file_path, encoding='utf-8'):
    taxonomy = pd.read_csv(file_path, sep='\t', header=None, encoding=encoding)
    taxonomy.columns = ['Protein_ID', 'Taxonomy']
    return taxonomy

# Paths to the taxonomy files
train_taxonomy_path = 'train/train_taxonomy.tsv'
test_taxonomy_path = 'test/testsuperset-taxon-list.tsv'

# Extract taxonomy information with the correct encodings
train_taxonomy = read_taxonomy(train_taxonomy_path, encoding='utf-8')  # 'utf-8' for train_taxonomy.tsv
test_taxonomy = read_taxonomy(test_taxonomy_path, encoding='ISO-8859-1')  # 'ISO-8859-1' for testsuperset-taxon-list.tsv

In [10]:
train_taxonomy

        Protein_ID    Taxonomy
0          EntryID  taxonomyID
1           Q8IXT2        9606
2           Q04418      559292
3           A8DYA3        7227
4           Q9UUI3      284812
...            ...         ...
142242      Q5TD07        9606
142243      A8BB17        7955
142244  A0A2R8QBB1        7955
142245      P0CT72      284812
142246      Q9NZ43        9606

[142247 rows x 2 columns]

In [11]:
test_taxonomy

   Protein_ID                                        Taxonomy
0          ID                                         Species
1        9606                         homo sapiens[All Names]
2       10090                         mus musculus[All Names]
3       10116                               Rattus norvegicus
4        3702                 Arabidopsis thaliana[All Names]
..        ...                                             ...
86       8671                Pseudechis porphyriacus (snakes)
87       8673                    Pseudonaja textilis (snakes)
88     930089   Bipolaris zeicola 26-R-13 (ascomycetes fungi)
89     559292  Saccharomyces cerevisiae S288C (budding yeast)
90      38281                            Heteractis magnifica

[91 rows x 2 columns]